.container {
  max-width: 1170px;
  margin: 0 auto;
}

.frame1__header {
  display: flex;
  justify-content: flex-end;
  padding-top: 14px;
  margin-bottom: 50px;
}

.logo-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 88px;
}

.logo-block__desc {
  margin-left: 18px;
}

.header-panel {
  display: flex;
  width: 648px;
  margin-right: 23px;
  justify-content: space-between;
  align-items: center;
}

.header-panel__item {
  display: flex;
}
